.layout {
  min-height: 100vh;
  display: flex;
}

.header {
  background-color: #0a1e12;
  height: 80px;
}

.header-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 48px;
}

.logo {
  color: white !important;
  margin: 0 !important;
  font-size: 24px !important;
  margin-right: auto !important;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-left: auto;
}

.nav-link {
  color: white !important;
  padding: 5px !important;
  height: auto !important;
  font-weight: 500 !important;
}

.nav-link:hover {
  color: #8c8989 !important;
  background-color: white !important;
}

.auth-button {
  color: black !important;
  border-color: white !important;
  margin-left: 16px !important;
}

.auth-button:hover {
  color: #ffffff !important;
  background-color: rgb(33, 79, 33) !important;
}

.content {
  flex: 1;
  padding: 50px 25px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.hero-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}

.hero-text h1 {
  font-size: 4rem !important;
  margin-bottom: 1.8 !important;
}

.hero-description {
  font-size: 1.3rem;
  color: #666;
  margin-bottom: 2.5rem !important;
  line-height: 1.5;
}

.cta-button {
  height: 50px;
  padding: 0 40px !important;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #0a1e12 !important;
}

.cta-button:hover {
  background-color: rgb(33, 79, 33) !important;
}

.hero-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.footer {
  background-color: f5f5f5;
  text-align: center;
  padding: 24px;
}

.footer-text {
  color: #666 !important;
  font-size: 0.9rem;
}
